.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: #ffcb4c;
}
.logo {
  width: 85px;
  height: 20px;
  background: url("../img/logo.png") no-repeat;
  background-size: contain;
}

.popup {
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
}

.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.find-form {
  padding: 10px;
}

// .find-form {
//   // width: 500px;
//   margin-top: 20px;
//   height: 50px;
//   background-color: #ffcb4c;
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
// }
// .find-form-items {
//   width: 300px;
//   height: 30px;
//   border: none;
// }
// .search-btn {
//   width: 8%;
//   height: 70%;
//   background-color: #007bff;
//   border-color:  #007bff ;
//   color: white;
//   border-radius: 5px;
//   outline: none;
//   border: none;
// }
// .find-form-items:focus {
//   outline: none;
// }
